# import packages

In [1]:
import pandas as pd
# import numpy as np
# from datetime import datetime
# import pytz
import model
import preprocess as prep

# load data set (training & test)

## load training set

In [2]:
train = pd.read_csv("../../input/train.csv")
train["count"] = 1
train["train_test"] = "train"
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,count,train_test
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,train
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,train
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,train
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,train
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1,train
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,train
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,train
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,train
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,train

 ## load test set

In [3]:
test = pd.read_csv("../../input/test.csv")
test["count"] = 1
test["train_test"] = "test"
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,count,train_test
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,test
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,test
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,test
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1,test
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1,test
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,test
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1,test
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1,test
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1,test

# data preprocessing

In [4]:
print("train:\n",train.dtypes,"\n")

train:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
count            int64
train_test      object
dtype: object

In [5]:
print("test:\n",test.dtypes,"\n")

test:
 PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
count            int64
train_test      object
dtype: object

In [6]:
## features to use for modeling
feature_list = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket_len', 'Fare', 'Cabin_len', 'Embarked', 'title', 'last_name', 'relatives', 'alone']
categorical = ['Pclass', 'Sex', 'alone', 'Embarked', 'title', 'last_name']
continuous = ['Age', 'SibSp', 'Parch', 'Ticket_len', 'Fare', 'Cabin_len', 'relatives']
target = "Survived"
PassengerId="PassengerId"

## concat training and test dataset for preprocessing.

In [7]:
tr_te = pd.concat([train, test], sort=False)
tr_te

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,count,train_test
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,train
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,train
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,train
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,train
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1,test
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,test
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1,test
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1,test
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1,test

In [8]:
feature_list_training = categorical + continuous
feature_list_train = feature_list + [target]
feature_list_test = feature_list + [PassengerId]

df = prep.preprocess(tr_te)

train = df.loc[df["train_test"]=="train",feature_list_train]
test = df.loc[df["train_test"]=="test",feature_list_test]

X_train = train[feature_list]
y_train = train[target]
X_test = test[feature_list]

display(train)
display(test)

'title' feature is created
'relative' feature is created
'alone' feature is created
'Ticket_len' feature is created
dtype of Pclass has been changed to category
dtype of Sex has been changed to category
dtype of Cabin has been changed to category
dtype of Embarked has been changed to category
dtype of last_name has been changed to category
dtype of title has been changed to category
dtype of alone has been changed to category
dtype of Survived has been changed to int

,Pclass,Sex,Age,SibSp,Parch,Ticket_len,Fare,Cabin_len,Embarked,title,last_name,relatives,alone,Survived
0,3,male,22.000000,1,0,9,7.2500,7,S,Mr.,Braund,2,No,0
1,1,female,38.000000,1,0,8,71.2833,3,C,Mrs.,Cumings,2,No,1
2,3,female,26.000000,0,0,16,7.9250,7,S,Miss.,Heikkinen,1,Yes,1
3,1,female,35.000000,1,0,6,53.1000,4,S,Mrs.,Futrelle,2,No,1
4,3,male,35.000000,0,0,6,8.0500,7,S,Mr.,Allen,1,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,27.000000,0,0,6,13.0000,7,S,Rev.,Montvila,1,Yes,0
887,1,female,19.000000,0,0,6,30.0000,3,S,Miss.,Graham,1,Yes,1
888,3,female,17.360874,1,2,10,23.4500,7,S,Miss.,Johnston,4,No,0
889,1,male,26.000000,0,0,6,30.0000,4,C,Mr.,Behr,1,Yes,1
890,3,male,32.000000,0,0,6,7.7500,7,Q,Mr.,Dooley,1,Yes,0

,Pclass,Sex,Age,SibSp,Parch,Ticket_len,Fare,Cabin_len,Embarked,title,last_name,relatives,alone,PassengerId
0,3,male,34.50000,0,0,6,7.8292,7,Q,Mr.,Kelly,1,Yes,892
1,3,female,47.00000,1,0,6,7.0000,7,S,Mrs.,Wilkes,2,No,893
2,2,male,62.00000,0,0,6,9.6875,7,Q,Mr.,Myles,1,Yes,894
3,3,male,27.00000,0,0,6,8.6625,7,S,Mr.,Wirz,1,Yes,895
4,3,female,22.00000,1,1,7,12.2875,7,S,Mrs.,Hirvonen,3,No,896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,male,28.31891,0,0,9,8.0500,7,S,Mr.,Spector,1,Yes,1305
414,1,female,39.00000,0,0,8,108.9000,4,C,NaN,Oliva y Ocana,1,Yes,1306
415,3,male,38.50000,0,0,18,7.2500,7,S,Mr.,Saether,1,Yes,1307
416,3,male,28.31891,0,0,6,8.0500,7,S,Mr.,Ware,1,Yes,1308
417,3,male,6.09000,1,1,4,22.3583,7,C,Master.,Peter,3,No,1309

## pipeline for preprocessing

In [9]:
preprocessor = model.pipeline_preprocess(continuous, categorical)
preprocessor

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('scaler', StandardScaler())]),
                                 ['Age', 'SibSp', 'Parch', 'Ticket_len', 'Fare',
                                  'Cabin_len', 'relatives']),
                                ('cat',
                                 Pipeline(steps=[('encoder', TargetEncoder())]),
                                 ['Pclass', 'Sex', 'alone', 'Embarked', 'title',
                                  'last_name'])])

# model1 : XGBOOST

## Bayesian Optimazation to find best hyperparameter for xgboost

In [10]:
pbounds_xgb = {
    'learning_rate': (0.01, 1.0),
    'n_estimators': (10, 500),
    'max_depth': (3,7),
    'gamma': (0, 5)}

best_param_xgb = model.bayesian_opt_xgboost(X_train, y_train, pbounds_xgb, preprocessor)

|   iter    |  target   |   gamma   | learni... | max_depth | n_esti... |
-------------------------------------------------------------------------
| 1         | 0.8384    | 1.873     | 0.9512    | 5.928     | 303.3     |
| 2         | 0.8362    | 0.7801    | 0.1644    | 3.232     | 434.4     |
| 3         | 0.8239    | 3.006     | 0.711     | 3.082     | 485.3     |
| 4         | 0.8227    | 4.162     | 0.2202    | 3.727     | 99.87     |
| 5         | 0.8451    | 1.521     | 0.5295    | 4.728     | 152.7     |
| 6         | 0.8417    | 3.059     | 0.1481    | 4.169     | 189.5     |
| 7         | 0.844     | 2.28      | 0.7873    | 3.799     | 262.0     |
| 8         | 0.8339    | 2.962     | 0.05599   | 5.43      | 93.56     |
| 9         | 0.8215    | 0.3253    | 0.9494    | 6.863     | 406.1     |
| 10        | 0.8362    | 1.523     | 0.1067    | 5.737     | 225.7     |
| 11        | 0.8361    | 0.6102    | 0.5002    | 3.138     | 455.6     |
| 12        | 0.8316    | 1.294     | 0.6659    | 4.247     | 264.8     |
| 13        | 0.8373    | 2.734     | 0.193     | 6.878     | 389.8     |
| 14        | 0.8227    | 4.697     | 0.8959    | 5.392     | 461.7     |
| 15        | 0.8417    | 0.4425    | 0.204     | 3.181     | 169.4     |
| 16        | 0.8429    | 1.943     | 0.2786    | 6.315     | 184.8     |
| 17        | 0.8429    | 1.405     | 0.5473    | 3.564     | 403.1     |
| 18        | 0.8104    | 0.3728    | 0.987     | 6.089     | 107.4     |
| 19        | 0.8328    | 0.02761   | 0.8173    | 5.827     | 367.2     |
| 20        | 0.826     | 3.856     | 0.0833    | 4.434     | 66.78     |
| 21        | 0.8373    | 1.46      | 0.5198    | 4.713     | 152.7     |
| 22        | 0.8216    | 4.673     | 0.8271    | 4.58      | 234.7     |
| 23        | 0.8372    | 4.827     | 0.4813    | 5.741     | 479.1     |
| 24        | 0.8294    | 2.604     | 0.5573    | 6.991     | 173.8     |
=========================================================================
Best result: {'gamma': np.float64(1.5212112147976886), 'learning_rate': np.float64(0.5295088673159155), 'max_depth': np.float64(4.727780074568463), 'n_estimators': np.float64(152.70227869704053)}; f(x) = 0.8451195781809051.

## fit and predict using xgboost with best hyperparameter.

In [11]:
res_tb_xgb = test[["PassengerId"]]
res_tb_xgb["Survived"] = model.xgb_fit_and_predict(preprocessor, best_param_xgb, X_train, y_train, X_test)
res_tb_xgb

C:\Users\sungh\AppData\Local\Temp\ipykernel_13884\2678080151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_tb_xgb["Survived"] = model.xgb_fit_and_predict(preprocessor, best_param_xgb, X_train, y_train, X_test)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [12]:
current_ts = model.current_timestamp()
res_tb_xgb.to_csv(f"../../output/res_xgb_TargetEncoder_{current_ts}.csv",index=False)

# model2 : Logistic Regression

## Bayesian Optimazation to find best hyperparameter for Logistic Regression

In [13]:
pbounds_lr = {"C": [0.1, 10]}

best_param_lr = model.bayesian_opt_logisticRegression(X_train, y_train, pbounds_lr, preprocessor)

|   iter    |  target   |     C     |
-------------------------------------
| 1         | 0.8249    | 3.808     |
| 2         | 0.8294    | 9.512     |
| 3         | 0.8283    | 7.347     |
| 4         | 0.8249    | 6.027     |
| 5         | 0.8249    | 1.645     |
| 6         | 0.8238    | 1.644     |
| 7         | 0.8182    | 0.675     |
| 8         | 0.8215    | 8.675     |
| 9         | 0.826     | 6.051     |
| 10        | 0.8339    | 7.11      |
| 11        | 0.8181    | 0.3038    |
| 12        | 0.8283    | 9.702     |
| 13        | 0.8294    | 8.341     |
| 14        | 0.826     | 2.202     |
| 15        | 0.8249    | 1.9       |
| 16        | 0.8215    | 1.916     |
| 17        | 0.826     | 3.112     |
| 18        | 0.826     | 5.295     |
| 19        | 0.8272    | 4.376     |
| 20        | 0.826     | 2.983     |
| 21        | 0.8215    | 7.111     |
| 22        | 0.826     | 7.11      |
| 23        | 0.8227    | 4.376     |
| 24        | 0.8294    | 5.295     |
=====================================
Best result: {'C': np.float64(7.10991852018085)}; f(x) = 0.8338961772644529.

## fit and predict using Logistic Regression with best hyperparameter.

In [14]:
res_tb_lr = test[["PassengerId"]]
res_tb_lr["Survived"] = model.logisticRegression_fit_and_predict(preprocessor, best_param_lr, X_train, y_train, X_test).astype(int)
res_tb_lr

C:\Users\sungh\AppData\Local\Temp\ipykernel_13884\648943519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_tb_lr["Survived"] = model.logisticRegression_fit_and_predict(preprocessor, best_param_lr, X_train, y_train, X_test).astype(int)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [15]:
current_ts = model.current_timestamp()
res_tb_lr.to_csv(f"../../output/res_logistic_TargetEncoder{current_ts}.csv",index=False)